  <div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Fluance To Do Prototype
  </div>
  <div class="content">
    <div class="left">
      <img src="../../assets/app-logo.png" />
    </div>
    <div class="right">
      The objective of the task is an angular#2 single page
      application, which contains a small ‘ToDo’ list. Each
      ToDo has a title and a note. The page’s main site lists
      all ToDo’s. The page must allow all 4 CRUD operations.
      Wheter you create a new ToDo with a modal window or
      inside the main page is up to you. The information
      does not have to be persistent, so when refreshing
      the page, you restore a default set of ToDo’s.
    </div>
  </div>
  </div>

