img {
  height: 50px;
}

#header{
  width:50%;
  margin: 0 auto;
  display:inline-block;;
}

#header-logo{
  float:left;
}

#header-name{
  float:left;
  margin-left:10px;
  line-height: 50px;
  vertical-align: middle;
}
