<div *ngIf="!task.completed" class="ui segment">
  <div class="ui grid">
  <div class="three column row">

    <div  class="left floated column">
      <div  class=" column">
        <i *ngIf="task.completed" (click)="toggleComplete()" class="ui icon large check  green scaling"></i>
        <i *ngIf="!task.completed" (click)="toggleComplete()" class="ui icon large check  grey scaling"></i>
        {{ task.title }}
        <div class="ui icon " [attr.data-tooltip]="task.note"  data-position="bottom left" data-inverted="">
          <i class="file text icon"></i>
        </div>
      </div>
    </div>
    <div class="right floated column">
        <i (click)="editTask(task)" class="ui icon large pencil scaling  grey "></i>
        <i (click)="deleteTask(task)" class="ui icon large remove  grey scaling"></i>
      <i class="file text large icon grey link"
         data-content="Hello. This is a wide pop-up which allows for lots of content with additional space. You can fit a lot of words here and the paragraphs will be pretty wide." data-variation="wide"></i>

    </div>
  </div>
  </div>
</div>


<div *ngIf="task.completed" class="ui tertiary segment">
  <div class="ui grid">
    <div class="three column row">

      <div  class="left floated column">
        <div  class=" column">
          <i *ngIf="task.completed" (click)="toggleComplete()" class="ui icon large check  green scaling"></i>
          <i *ngIf="!task.completed" (click)="toggleComplete()" class="ui icon large check  grey scaling"></i>

        </div>
        <div  class="left floated column">{{ task.title }}
        </div>

      </div>
      <div class="right floated column">
        <i class="ui icon large pencil  grey scaling"></i>
        <i (click)="deleteTask(task)" class="ui icon large remove  grey scaling"></i>
      </div>
    </div>
  </div>
</div>


