<router-outlet></router-outlet>


<app-header></app-header>
<div class="ui container">
  <div class="ui compact segments">

    <top-task (onTaskCreated)="createTask($event)"></top-task>
   <div class="ui segment inverted">
      <div class="ui grid">
          <div class="two column row">
            <div class="left floated column"><div class="ui horizontal teal label">{{ toDoCount() }}</div>To Do</div>
            <div class="right floated column"><a *ngIf="toDoCount()==0" class="ui yellow right ribbon label">FINISHED!</a></div>
          </div>
      </div>
    </div>
    <task-list (onTaskCompleted)="updateLists()"
           (onTaskDeleted)="deleteTask($event)"

           [tasks]="tasks"
           [completed]="false"></task-list>
    <div class="ui segment inverted">
      <div class="ui grid">
        <div class="two column row">
          <div class="left floated column"><div class="ui horizontal red label">{{ doneCount() }}</div>Done</div>
          <i class="large trash icon scaling"></i>
        </div>
      </div>
    </div>
    <task-list (onTaskCompleted)="updateLists()"
           (onTaskDeleted)="deleteTask($event)"
           [tasks]="tasks"
           [completed]="true"></task-list>
  </div>
</div>
