<div class="ui left corner labeled large input">
  <input
    #box (keyup.enter)="onEnter(box.value);box.value=''"
    type="text" placeholder="Enter new task...">
  <div class="ui left corner label">
    <i class="asterisk icon"></i>
  </div>
</div>


<!--<div class="one column row centered">-->
<!--<div class="ui large input" >-->
 <!--<input #box (keyup.enter)="onEnter(box.value);box.value=''"-->
        <!--type="text" name="top-task" placeholder="Enter new task..." />-->
<!--</div>-->
<!--</div>-->
